@using Blog.Web.Models.Home
@model BlogentryListItemModel

@{
    Layout = null;
}
<div class="well blogentry">
    <h1>
        @Html.ActionLink(Model.Header, "Blogentry", "Home", new {id = Model.Id}, null)
    </h1>
    <p class="lead">
        by <a href="#">@Model.Creator.DisplayName</a>
    </p>
    <hr />
    <p>Categories</p>
    <p>
        @foreach (CategoryModel category in Model.Categories)
        {
            @*    @Html.ActionLink(, )*@
            <a class="btn btn-success" href="@Url.Action("Index", "Home", new {categoryId = category.Id, monthAndYear = ""})">@category.Name</a>
        }
    </p>
    <hr />
    <p><i class="fa fa-clock-o"></i> Posted on @Model.CreationDateString</p>
    <hr>
    <p>@Html.Raw(Model.Body)</p>
    <a class="btn btn-primary" href="@Url.Action("Blogentry", "Home", new {id = Model.Id})">Read More <i class="fa fa-angle-right"></i></a>
</div>