@using Blog.Web.Models.Home
@model Blog.Web.Models.Home.BlogSidebarModel
@{
    Layout = null;
}
<div class="col-lg-4">
@*    <div class="well">*@
@*        <h4>Search</h4>*@
@*        <div class="input-group">*@
@*            @using (Ajax.BeginForm("Index", "Home", new{area=""}, new AjaxOptions{HttpMethod="POST"}))*@
@*            {*@
@*                @Html.TextBoxFor( m => m.SearchText, new {@class = "form-control"} )*@
@*                <span class="input-group-btn">*@
@*                    <button class="btn btn-default" id="searchTextSubmit" type="submit">*@
@*                        <i class="fa fa-search"></i>*@
@*                    </button>*@
@*                </span>*@
@*            }*@
@*$1$            <script>#1#*@
@*$1$                $("#searchTextSubmit").click(function() {#1#*@
@*$1$                    console.log($("#SearchText").value);#1#*@
@*$1$//                    window.location = "Home/Index?searchText=" + $("#SearchText").val();#1#*@
@*$1$                    //window.location.href = "?searchText=" + $("#SearchText").val();#1#*@
@*$1$                    window.location = "http://" + window.location.host + ":" + window.location.port + "/" + "?searchText=" + $("#SearchText").val();#1#*@
@*$1$//                    $.ajax({#1#*@
@*$1$//                        type: "POST",#1#*@
@*$1$//                        url: "Home/Index?searchText=" + $("#SearchText").value#1#*@
@*$1$//                    });#1#*@
@*$1$                });#1#*@
@*$1$            </script>#1#*@
@*        </div>*@
@*        *@
    @*    </div>*@
    @if (Model.AvailableYears.Count > 0 || Model.AvailableMonths.Count > 0 || Model.Categories.Count > 0)
    {
        <div class="well">
            <h3>Filter</h3>
            <div class="form-group">
                <h4>Categories</h4>
                @{ int i = 0; }
                @foreach (CategoryModel category in Model.Categories)
                {
                    <span>@Html.ActionLink( category.Name + " (" + @category.NumberOfPosts + ")", "Index", "Home", new {categoryId = category.Id}, null )  </span>
                    if (i != Model.Categories.Count - 1)
                    {
                        @:|
                    }
                    i++;
                }
            </div>
            <div class="form-group">            
                @foreach (string year in Model.AvailableYears)
                {
                    <h4>@Html.ActionLink( year, "Index", "Home", new {monthAndYear = year}, null )</h4>
                    int j = 0;
                    foreach (KeyValuePair<string, string> month in Model.AvailableMonths)
                    {
                        <span>@Html.ActionLink( month.Value, "Index", "Home", new {monthAndYear = month.Key + year}, null ) </span>
                        if (j != Model.AvailableMonths.Count - 1)
                        {
                            @:|
                        }
                        j++;
                    }
                    <br/>
                }
            </div>
        </div>
    }
</div>