@using Blog.Web
@model Blog.Web.Models.Home.CommentModel


<tr>
    <td>
        <h4>
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.BlogentryId)
            @Model.Header
            <small>@Model.CreationDateString, by <span class="section-colored">@Model.Creator.DisplayName</span></small>
            @if (CustomRoles.IsUserInRole(CustomRoles.Administrator))
            {
                <a href="@Url.Action("DeleteComment", new {commentId = Model.Id, blogentryId = Model.BlogentryId})" class="btn btn-danger pull-right">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            }
        </h4>
        <p id="blogentryBody">@Html.Raw(HttpUtility.HtmlDecode(@Model.Body))</p>
    </td>
</tr>