@using Recaptcha
@using WebMatrix.WebData
@model Blog.Web.Models.Home.LeaveCommentModel

<div class="well">
    <h4>Leave a Comment:</h4>
    @using (Ajax.BeginForm("_LeaveComment", "Home", new AjaxOptions{HttpMethod = "POST", OnSuccess = "handleLeaveCommentSuccess"}))
    {
        <div class="form-group">
            @Html.ValidationSummary()
            @*            @Html.HiddenFor(m => m.Id)*@
            @Html.HiddenFor(m => m.BlogentryId)
            @Html.TextBoxFor(m => m.Header, new { id="leave-comment-header", @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Header) })
            @Html.TextAreaFor(m => m.Body, new { id="leave-comment-body", @class = "form-control", rows = "5", placeholder = Html.DisplayNameFor(m => m.Body) })
        </div>
        if (!WebSecurity.IsAuthenticated)
        {
            <div>
                @Html.SimpleCaptcha()
                @Html.TextBoxFor(m => m.CaptchaResult)
            </div>
@*            <div>*@
@*                @Html.Raw(Html.GenerateCaptcha("captcha", "white"))*@
@*            </div>*@
        }
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>