@model Blog.Web.Models.Home.AddBlogentryModel

@{
    ViewBag.Title = "Add new Blogentry";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
                <small>Blog Homepage</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Blog", "Index", "Home", new { categoryId = 0 }, null)
                </li>
                <li class="active">Add Entry</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("AddBlogentry", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.Header, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Header, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(c => c.Header), @required = "true" })
                </div>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.Body, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Body, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(c => c.Body), @required = "true" })
                </div>
                <div class="form-group">
                    <div>
                        @Html.Label("Choose Categories:", new { @class = "control-label" })
                    </div>
                    @for (int i = 0; i < Model.Categories.Count; i++)
                    {
                        @*                        <div class="">*@
                        @Html.HiddenFor(b => b.Categories[i].Id)
                        @Html.HiddenFor(b => b.Categories[i].Name)
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(b => b.Categories[i].IsSelected, new { @class = "" })
                            @Model.Categories[i].Name
                        </label>
                    }
                </div>
                <div class="form-group">
                    <div class="">
                        <a href="@Url.Action("Index", "Home", new { categoryId = 0 })" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>