@using System.Web
@using Blog.Web.Models
@using Blog.Web.Models.Home
@using Blog.Web.Models.Shared
@using WebMatrix.WebData
@model BlogentryDetailModel

@{
    ViewBag.Title = Model.Header;
}
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/blogentry")
<div class="row" id="blogentryDetail">
    <div class="col-lg-8">
        @if (WebSecurity.CurrentUserId == Model.Creator.Id)
        {
            <div class="text-left">
                <button class="btn btn-default" data-toggle="modal" data-target="#editBlogentryModal"><i class="glyphicon glyphicon-pencil"></i></button>
                <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
        }
        <hr>
        <p><i class="fa fa-clock-o"></i> Posted on @Model.CreationDateString by <a href="#">@Model.Creator.DisplayName</a></p>
        <hr>
        <p id="blogentryBody">@Html.Raw(HttpUtility.HtmlDecode(@Model.Body))</p>
        @if (Model.CommentsActivated)
        {
            <div id="commentStuff">
                <hr>
                @Html.Partial( "_LeaveComment", new LeaveCommentModel {BlogentryId = Model.Id} )
                <hr>
                <h2>Comments</h2>
                <table class="table table-hover table-responsive table-striped">
                    <tbody id="comments">
                        @foreach (CommentModel comment in Model.Comments)
                        {
                            @Html.Partial("_Comment", comment)
                        }
                    </tbody>

                </table>
            </div>
        }      
        @Html.Action("_EditBlogentry", "Home", new {area="", blogentryId = Model.Id})
    </div>
    @Html.Action("_BlogSidebar")
</div>