@using Blog.Web.Models
@using Blog.Web.Models.Home
@using Blog.Web.Models.Shared
@model BlogentryDetailModel

@{
    ViewBag.Title = Model.Header;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>(new[] {new BreadcrumbModel("Blog", "Index", "Home")});
}
<div class="row">
    <div class="col-lg-8">
        <hr>
        <p><i class="fa fa-clock-o"></i> Posted on @Model.CreationDateString by <a href="#">@Model.Creator.UserName</a></p>
        <hr>
        <p class="">@Html.Raw(HttpUtility.HtmlDecode(@Model.Body))</p>
        <hr>

        @{
            LeaveCommentModel leaveCommentModel = new LeaveCommentModel();
            leaveCommentModel.BlogentryId = Model.Id;
        }
        @Html.Partial("_LeaveComment", leaveCommentModel)
        <hr>
        <h2>Comments</h2>
        <table class="table table-hover table-responsive table-striped">
            @foreach (CommentModel comment in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.Partial("_Comment", comment)
                    </td>
                </tr>
            }
        </table>
    </div>
    @Html.Action("_BlogSidebar")
</div>