@using Blog.Web.Models.Home
@model BlogentryDetailModel

@{
    ViewBag.Title = Model.Header;
}
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/blogentry")
<div class="row" id="blogentryDetail">
    <div class="col-lg-8">
        @if (WebSecurity.CurrentUserId == Model.Creator.Id)
        {
            <div class="text-left">
                <button class="btn btn-default" data-toggle="modal" data-target="#editBlogentryModal"><i class="glyphicon glyphicon-pencil"></i></button>
                <a class="btn btn-danger" href="@Url.Action("DeleteBlogentry", "Home", new{area="", id=Model.Id})"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
        }
        <hr>
        <p><i class="fa fa-clock-o"></i> Posted on @Model.CreationDateString by <a href="#">@Model.Creator.DisplayName</a></p>
        <hr>
        <p id="blogentryBody">@Html.Raw(Model.Body)</p>
        <div id="commentStuff">
            <hr>
            @if (Model.CommentsActivated)
            {
                @Html.Partial("_LeaveComment", new LeaveCommentModel {BlogentryId = Model.Id})
            }
            else
            {
                @Html.Panel("panel-info", "Comments disabled", "Leaving comments is disabled by the administrator.")
            }
            </div>  
                <hr>
                <h2>Comments</h2>
                <table class="table table-hover table-responsive table-striped">
                    <tbody id="comments">
                        @foreach (CommentModel comment in Model.Comments)
                        {
                            @Html.Partial("_Comment", comment)
                        }
                    </tbody>

                </table>   
        @Html.Action("_EditBlogentry", "Home", new { area = "Administration", blogentryId = Model.Id })
    </div>
    @Html.Action("_BlogSidebar")
</div>