@using Blog.Web.Models.Home
@model BlogentryListModel
@*@model List<Blog.Web.Models.Home.BlogentryListItemModel>*@
@{
    ViewBag.Title = "Blog";
    ViewBag.Breadcrumbs = null;
}
@Scripts.Render("~/bundles/entry-pagination")
<div class="row">
    <div class="col-lg-8">
        <div>
            @if (Model.Blogentries.Count > 0)
            {
                foreach (BlogentryListItemModel blogEntry in Model.Blogentries)
                {
                    @Html.Partial( "_BlogPostListItem", blogEntry )
                }
            }
            else
            {
                <div>There are no blogentries matching the applied filter.</div>
            }
        </div>
        @if (Model.Blogentries.Count > Model.NumberOfBlogentriesPerPage)
        {
            @*Pagination is always hidden at the beginning and is set to "block" by javascript. So there is no pagination when there is no javascript.*@
            <div class="text-center pagination-wrapper">
                <ul class="pagination" id="blogentries-pagination" data-blogentries-per-page=@Model.NumberOfBlogentriesPerPage>
                    <li class="" id="blogentries-pagination-prev"><a href="#">«</a></li>
                    @for (int i = 0; i < Model.Blogentries.Count/Model.NumberOfBlogentriesPerPage + 1; i++)
                    {
                        <li class="pagination-item @(i == 0 ? "active" : "")"><a href="#">@(i + 1)</a></li>
                    }
                    <li class="" id="blogentries-pagination-next"><a href="#">»</a></li>
                </ul>
            </div>
        }
    </div>
    @Html.Action( "_BlogSidebar" )
</div>