@using Blog.Core.Extensions
@model Blog.Web.Models.Shared.BlogSettingsModel

@{
    ViewBag.Title = "Settings";
}
@Scripts.Render("~/bundles/blog-settings")
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm( "BlogSettings", "Administration", new {area = "Administration"}, FormMethod.Post, new {@class = "form-horizontal"} ))
        {
            if (Model.SuccessfullySaved)
            {
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Panel("panel-success", "Success", "Your Settings were successfully saved.")
                    </div>
                </div>
            }
            else if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Panel("panel-danger", "Error", @Html.CustomValidationSummary().ToHtmlString())
                    </div>
                </div>
            }
            
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">General</legend>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SiteName, new { @class = "" })
                        @Html.TextBoxFor(m => m.SiteName, new { @class = "form-control" })
                    </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FooterText)
                    @Html.TextAreaFor(m => m.FooterText, new { @class = "form-control", rows=10 })
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.CommentsActivated, new { @class = "" })
                            @Html.DisplayNameFor(m => m.CommentsActivated)
                        </label>
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NumberOfEntriesPerPage)
                        @Html.TextBoxFor(m => m.NumberOfEntriesPerPage, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Keywords)
                        @Html.TextBoxFor(m => m.Keywords, new { @class = "form-control" })
                    </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Registration Mails</legend>
                <div class="form-group">
                    @Html.LabelFor( m => m.RegistrationMailSender )
                    @Html.TextBoxFor( m => m.RegistrationMailSender, new {@class = "form-control"} )
                </div>
                <div class="form-group">
                    @Html.LabelFor( m => m.RegistrationMailSubject )
                    @Html.TextBoxFor( m => m.RegistrationMailSubject, new {@class = "form-control"} )
                </div>
                <div class="form-group">
                    @Html.LabelFor( m => m.RegistrationMailBody )
                    @Html.TextAreaFor( m => m.RegistrationMailBody, new {@class = "form-control"} )
                </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Welcome Mails</legend>
                <div class="form-group">
                    @Html.LabelFor( m => m.WelcomeMailSender )
                    @Html.TextBoxFor( m => m.WelcomeMailSender, new {@class = "form-control"} )
                </div>
                <div class="form-group">
                    @Html.LabelFor( m => m.WelcomeMailSubject )
                    @Html.TextBoxFor( m => m.WelcomeMailSubject, new {@class = "form-control"} )
                </div>
                <div class="form-group">
                    @Html.LabelFor( m => m.WelcomeMailBody )
                    @Html.TextAreaFor( m => m.WelcomeMailBody, new {@class = "form-control"} )
                </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Password Change Mails</legend>
                <div class="form-group">
                    @Html.LabelFor( m => m.PasswordChangeMailSender )
                    @Html.TextBoxFor( m => m.PasswordChangeMailSender, new {@class = "form-control"} )
                </div>
                <div class="form-group">
                    @Html.LabelFor( m => m.PasswordChangeMailSubject )
                    @Html.TextBoxFor( m => m.PasswordChangeMailSubject, new {@class = "form-control"} )
                </div>
                <div class="form-group">
                    @Html.LabelFor( m => m.PasswordChangeMailBody )
                    @Html.TextAreaFor( m => m.PasswordChangeMailBody, new {@class = "form-control"} )
                </div>
            </fieldset>
            
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Smtp Server</legend>
                <div class="form-group">
                    @Html.LabelFor(m => m.SmtpServerUrl)
                    @Html.TextBoxFor(m => m.SmtpServerUrl, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SmtpServerPort)
                    @Html.TextBoxFor(m => m.SmtpServerPort, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.SmtpAreUsercredentialsMandatoryForLogin, new { @class = "", id = "cb-smtp-are-credentials-mandatory", @checked = Model.SmtpAreUsercredentialsMandatoryForLogin })
                            @Html.DisplayNameFor(m => m.SmtpAreUsercredentialsMandatoryForLogin)
                        </label>
                    </div>
                </div>
                <div id="smtp-user-credentials">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SmtpServerUsername)
                        @Html.TextBoxFor(m => m.SmtpServerUsername, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SmtpServerPassword)
                        @Html.PasswordFor(m => m.SmtpServerPassword, new { @class = "form-control", value = Model.SmtpServerPassword })
                    </div>
                </div>

            </fieldset>
            
            <div class="">
                @Html.ActionLink( "Cancel", "Index", "Home", new {area = ""}, new {@class = "btn btn-default"} )
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }
    </div>
</div>