@using Blog.Web.Areas.Administration.Models
@model UserListItemModel
<tr>
    <td>@Model.Id</td>
    <td>@Model.UserName</td>
    <td>@Model.DisplayName</td>
    <td>@Model.Email</td>
    <td>
        @{ int i = 0; }
        @foreach (RoleModel role in Model.Roles)
        {
            <label>
                @role.RoleName
                @Html.CheckBoxFor( m => m.Roles[i].IsActive, new {@class = "roleCheckbox", data_user_id = Model.Id, data_role = role.RoleName} )
                @{ i++; }
            </label>
        }

        <script type="text/javascript">

        
        </script>
    </td>
    <td>
        
        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-large bootstrap-switch-animate">
            <div class="bootstrap-switch-container">
                <span class="bootstrap-switch-handle-on bootstrap-switch-primary">3</span>
                <label class="bootstrap-switch-label">&nbsp;</label>
                <span class="bootstrap-switch-handle-off bootstrap-switch-default">2.0.1</span>
                <input type="checkbox" name="download-version" checked="" data-size="large" data-on-text="3" data-off-text="2.0.1">
            </div>
        </div>

        <input type="checkbox" class="lock-switch" checked="" data-size="small" data-user-id="@(Model.Id)" data-is-locked="@(Model.IsLocked)" data-on-text="1" data-off-text="0">
    </td>
</tr>