@using Blog.Web.Areas.Administration.Models
@model UserListItemModel
<tr>
    <td>@Model.Id</td>
    <td>@Model.UserName</td>
    <td>@Model.DisplayName</td>
    <td>@Model.Email</td>
    <td>
        @{ int i = 0; }
        @foreach (RoleModel role in Model.Roles)
        {
            <label>
                @role.RoleName
                @Html.CheckBoxFor(m => m.Roles[i].IsActive, new {@class="roleCheckbox", data_user_id=Model.Id, data_role=role.RoleName})
                @{ i++; }
            </label>
        }

        <script type="text/javascript">
            $(".roleCheckbox").each(function() {
                $(this).click(function() {
                    if ($(this).is(':checked')) {
                        roleChanged($(this).data("user-id"), $(this).data("role"), true);
                    } else {
                        roleChanged($(this).data("user-id"), $(this).data("role"), false);
                    }
                });
            });
            function roleChanged(id, newRole, added) {
                $.ajax("/Administration/Administration/ChangeRole?id=" + id + "&newRole=" + newRole + "&added=" + added);
            }
        </script>
    </td>
    <td><button class="btn btn-danger"><i class=" glyphicon glyphicon-lock"></i> Lock</button></td>
</tr>