@model Blog.Web.Models.Account.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
                <small>Blog Homepage</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("My Profile", "EditProfile", "Account")
                </li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary()
            @Html.UserProfileTextBoxFor(m => m.CurrentPassword, true, true)
            @Html.UserProfileTextBoxFor(m => m.NewPassword, true, true)
            @Html.UserProfileTextBoxFor(m => m.NewPasswordConfirmed, true, true)
            <button type="submit" class="btn btn-primary col-lg-offset-2">Change Password</button>
        }
</div>
</div>
