@Model Blog.Web.Models.UserProfileModel
@{
    ViewBag.Title = "Profile";
}

@using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>My Profile</legend>
        <div class="form-group">
            @Html.UserProfileTextBoxFor(m => m.UserName, true)
            @Html.UserProfileTextBoxFor(m => m.Password, true, true)
            @Html.UserProfileTextBoxFor(m => m.Email, true)
            @Html.UserProfileTextBoxFor(m => m.Street)
            @Html.UserProfileTextBoxFor(m => m.HouseNumber)
            @Html.UserProfileTextBoxFor(m => m.Town)
            @Html.UserProfileTextBoxFor(m => m.Zip)
            @Html.UserProfileTextBoxFor(m => m.Forename)
            @Html.UserProfileTextBoxFor(m => m.LastName)
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
}
