@model Blog.Web.Models.Account.LoginModel

@{
    ViewBag.Title = "Login";
}
<div class="row">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-signin", @role = "form"}))
    {
        @Html.Hidden("ReturnUrl", Request.Params["ReturnUrl"])
        <h2 class="form-signin-heading">Please sign in</h2>
        @Html.CustomValidationSummary()

        <div class="">
            @Html.LabelFor(m => m.UserName, new {@class = "sr-only"})
            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", @required = "true", @autofocus = "true", @placeholder = @Html.DisplayNameFor(m => m.UserName)})
        </div>

        <div class="">
            @Html.LabelFor(m => m.Password, new {@class = "sr-only"})
            @Html.PasswordFor(m => m.Password, new {@class = "form-control", @required = "true", @autofocus = "true", @placeholder = @Html.DisplayNameFor(m => m.Password)})
        </div>
        <div class="form-group text-right">
            <label class="checkbox-inline">
                @Html.CheckBoxFor(m => m.StaySignedIn)
                @Html.DisplayNameFor(m => m.StaySignedIn)
            </label>
            @*                @Html.LabelFor(m => m.StaySignedIn)*@
        </div>
        <div class="text-right">Forgot your NewPassword? @Html.ActionLink("Click here to reset", "ResetPasswordFirstStep", "Account")</div>
        <div class="text-right">New User? @Html.ActionLink("Click here to register", "Register", "Account")</div>
        <button class="btn btn-lg btn-primary btn-block">Login</button>
    }
</div>