@model Blog.Web.Models.Account.RegisterModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary()
            <fieldset>
                <div class="form-group">
                    @Html.UserProfileTextBoxFor(m => m.UserName, true)
                    @Html.UserProfileTextBoxFor(m => m.Password, true, true)
                    @Html.UserProfileTextBoxFor(m => m.PasswordConfirmed, true, true)
                    @Html.UserProfileTextBoxFor(m => m.Email, true)
                    @*                @Html.UserProfileTextBoxFor(m => m.Street)*@
                    @*                @Html.UserProfileTextBoxFor(m => m.HouseNumber)*@
                    @*                @Html.UserProfileTextBoxFor(m => m.Town)*@
                    @*                @Html.UserProfileTextBoxFor(m => m.Zip)*@
                    @*                @Html.UserProfileTextBoxFor(m => m.Forename)*@
                    @*                @Html.UserProfileTextBoxFor(m => m.LastName)*@
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                        <div class="col-xs-12 col-md-6"><a href="@Url.Action("Login", "Account")" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                        @*                        <button type="submit" class="btn btn-primary btn-block btn-lg">Register</button>*@
                        @*                        <button class="btn btn-success btn-lg btn-block btn-lg">Login</button>*@
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>