@model Blog.Web.Models.Blog.BlogEntryListItemModel

@{
    ViewBag.Title = "title";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Add new Blogentry
                <small>Blog Homepage</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Blog", "Index", "Blog")
                </li>
                <li class="active">@Model.Header</li>
            </ol>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">

            <!-- the actual blog post: title/author/date/content -->
            <hr>
            <p>
                <i class="fa fa-clock-o"></i> Posted on @Model.CreationDateString by <a href="#">@Model.Creator.UserName</a>
            </p>
            <hr>
            @*<img src="http://placehold.it/900x300" class="img-responsive img-rounded">*@
            <hr>
            @*<p class="lead">Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>*@
            <p>@Model.Body</p>

            <hr>

            <!-- the comment box -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <hr>

            <!-- the comments -->
            <h3>
                Start Bootstrap
                <small>9:41 PM on August 24, 2013</small>
            </h3>
            <p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking about space or something, then you randomly start babbling about cupcakes, and you end off with random fish names.</p>

            <h3>
                Start Bootstrap
                <small>9:47 PM on August 24, 2013</small>
            </h3>
            <p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals, alien abductions, business casual, robots, and fireworks' has true potential.</p>

        </div>
    </div>

</div>
