@using System.Web.Razor.Parser.SyntaxTree
@using Blog.Core.DataAccess.Blog
@model Blog.Web.Models.Blog.BlogEntryListItemModel

@{
    Layout = null;
}
<h1>
    @Html.ActionLink(Model.Header, "ShowBlogentry", "Blog", new { blogentryId = Model.ID }, null)
</h1>
<p class="lead">
    by <a href="#">@Model.Creator.UserName</a>
</p>
<hr>
<p><i class="fa fa-clock-o"></i> Posted on @Model.CreationDateString</p>
@*<hr>
        <a href="blog-post.html">
            <img src="http://placehold.it/900x300" class="img-responsive">
    </a>*@
<hr>
<p>@Html.BlogEntryListItemBodyShort(Model.Body)</p>
<a class="btn btn-primary" href="@Url.Action("ShowBlogentry", "Blog", new { blogentryId = Model.ID })">Read More <i class="fa fa-angle-right"></i></a>
@foreach (Category category in @Model.Categories)
{
    <span>@category.Name</span>
}
<hr>
