@using Blog.Web.Models.Blog
@model BlogEntryListItemModel

@{
    Layout = null;
}
<h1>
    @Html.ActionLink(Model.Header, "ShowBlogentry", "Blog", new { id = Model.Id}, htmlAttributes: null)
</h1>
<p class="lead">
    by <a href="#">@Model.Creator.UserName</a>
</p>
<hr/>
<p>Categories</p>
<p>
    @foreach (CategoryModel category in Model.Categories)
{
@*    @Html.ActionLink(, )*@
        <a class="btn btn-success" href="@Url.Action("Index", "Blog", new { categoryId = category.Id, monthAndYear=""})">@category.Name</a>
}
</p>
<hr/>
<p><i class="fa fa-clock-o"></i> Posted on @Model.CreationDateString</p>
@*<hr>
        <a href="blog-post.html">
            <img src="http://placehold.it/900x300" class="img-responsive">
    </a>*@
<hr>
<p>@Html.BlogEntryListItemBodyShort(Model.Body)</p>
<a class="btn btn-primary" href="@Url.Action("ShowBlogentry", "Blog", new { id = Model.Id })">Read More <i class="fa fa-angle-right"></i></a>
