@using Blog.Web.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @*<div class="navbar ">
            <div class="nav-tabs">Home</div>
            <div class="nav-tabs">Entries</div>
            <div class="nav-tabs">Categories</div>
        </div>*@
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                @Html.ActionLink(linkText: "Timo's Blog", actionName: "Index", controllerName: "Home", htmlAttributes: new { @class = "navbar-brand" }, routeValues: null)
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("View Posts", "Index", "Blog")
                            </li>
                            <li>
                                @Html.ActionLink("New Entry", "AddEntry", "Blog")
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @*<a href='@Url.Action(actionName: "EditProfile", controllerName: "Account")' class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                        *@<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (WebSecurity.IsAuthenticated)
                            {
                                <li>
                                    @Html.ActionLink("Edit my Profile", "EditProfile", "Account")
                                </li>
                                <li>
                                    @Html.ActionLink("Logout", "Logout", "Account")
                                </li>
                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink("Register", "Register", "Account")
                                </li>
                                <li>
                                    @Html.ActionLink("Login", "Login", "Account")
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("About", "", "")
                    </li>
                    <li>
                        @if (WebSecurity.IsAuthenticated)
                        {
                            @Html.ActionLink("Logout", "Logout", "Account")
                        }
                        else
                        {
                            @Html.ActionLink("Login", "Login", "Account")
                        }
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



    @*<nav role="navigation" class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Blog</a>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Blogentries</a></li>
                    @if (WebSecurity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Profile", "EditProfile", "Account")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (WebSecurity.IsAuthenticated)
                    {
                        <li>Hello, @WebSecurity.CurrentUserName | @Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </nav>*@
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
