@{
    Layout = null;
}
@using Blog.Web
@model Blog.Web.Models.Shared.NavigationBarModel
<nav class="navbar navbar-inverse navbar-fixed-top blog-navbar-js" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Model.SiteName, "Index", "Home", htmlAttributes: new {@class = "navbar-brand"}, routeValues: new {area = ""})
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    @Url.NavigationbarDropdownLink("Blog", "glyphicon-list")
                    <ul class="dropdown-menu">
                        @Url.NavigationbarLink("Index", "Home", "View Posts", "glyphicon-list")                       
                        @Url.NavigationbarLink("Categories", "Home", "Categories", "glyphicon-inbox")
                        @if (CustomRoles.IsUserInRole(CustomRoles.Administrator))
                        {
                            @Url.NavigationbarLink("AddBlogentry", "Home", "Add Entry", "glyphicon-plus-sign")
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    @Url.NavigationbarDropdownLink(WebSecurity.IsAuthenticated ? WebSecurity.CurrentUserName : "My Profile", "glyphicon-user")

                    <ul class="dropdown-menu">
                        @if (WebSecurity.IsAuthenticated)
                        {
                            @Url.NavigationbarLink("EditProfile", "Account", "Edit Profile", "glyphicon-cog")
                            @Url.NavigationbarLink("Logout", "Account", "Logout", "glyphicon-log-out")
                        }
                        else
                        {
                            @Url.NavigationbarLink("Register", "Account", "Register", "glyphicon-edit")
                            @Url.NavigationbarLink("Login", "Account", "Login", "glyphicon-log-in")
                        }
                    </ul>
                </li>
                @Url.NavigationbarLink("Index", "About", "About", "glyphicon-info-sign")
                @if (CustomRoles.IsUserInRole(CustomRoles.Administrator))
                {
                    <li class="dropdown">
                        @Url.NavigationbarDropdownLink("Administration", "glyphicon-signal")
                        <ul class="dropdown-menu">
                            @Url.NavigationbarLink("Users", "Administration", "Users", "glyphicon-eye-open", "Administration")
                            @Url.NavigationbarLink("BlogSettings", "Administration", "Settings", "glyphicon-eye-open", "Administration")
                        </ul>
                    </li>
                }
                <li>
                    @if (WebSecurity.IsAuthenticated)
                    {
                        @Url.NavigationbarLink("Logout", "Account", "Logout", "glyphicon-log-out")
                    }
                    else
                    {
                        @Url.NavigationbarLink("Login", "Account", "Login", "glyphicon-log-in")
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav class="navbar navbar-inverse navbar-fixed-top blog-navbar-nojs" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Model.SiteName, "Index", "Home", htmlAttributes: new {@class = "navbar-brand"}, routeValues: new {area = ""})
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">                ,
                @Url.NavigationbarLink("Index", "Home", "View Posts", "glyphicon-list")
                @Url.NavigationbarLink("Categories", "Home", "Categories", "glyphicon-inbox")
                @if (CustomRoles.IsUserInRole(CustomRoles.Administrator))
                {
                    @Url.NavigationbarLink("AddBlogentry", "Home", "Add Entry", "glyphicon-plus-sign")
                }

                @if (WebSecurity.IsAuthenticated)
                {
                    @Url.NavigationbarLink("EditProfile", "Account", "Edit Profile", "glyphicon-cog")
                }
                else
                {
                    @Url.NavigationbarLink("Register", "Account", "Register", "glyphicon-edit")
                }
                @Url.NavigationbarLink("Index", "About", "About", "glyphicon-info-sign")
                @if (CustomRoles.IsUserInRole(CustomRoles.Administrator))
                {
                    @Url.NavigationbarLink("Users", "Administration", "Users", "glyphicon-eye-open", "Administration")
                    @Url.NavigationbarLink("BlogSettings", "Administration", "Settings", "glyphicon-eye-open", "Administration")
                }
                @if (WebSecurity.IsAuthenticated)
                {
                    @Url.NavigationbarLink("Logout", "Account", "Logout", "glyphicon-log-out")
                }
                else
                {
                    @Url.NavigationbarLink("Login", "Account", "Login", "glyphicon-log-in")
                }
            </ul>
        </div>

    </div>
</nav>